html {height: 100%;}
body {margin:0; padding:0;height: 100%; font:12px AncientWar;overflow-y: hidden}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
.scroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
}
.scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ededed;
}
.scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: transparent;
}

button,a {
    -webkit-app-region: no-drag;
}

.shrink-event,.open-event{
    cursor: pointer;
}

.number-tip{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    background-color: #dde009ed;
    color: #330055;
}

/*top*/
#top{
    display: table;
    width: 100%;
    height: 20px;
    background: #f5f5f5;
}

#top .button{
    margin-right: 15px;
}

#top .button>img{
    width: 13px;
    height: 13px;
}

#header{
    display: table;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to left bottom, #0d81ba, #0f4172);
    box-shadow: 8px 2px 8px #888888;
}

.section{
    display: table-cell;
    vertical-align: middle;
}

.section-left{
    text-align: left;
}

.section-right{
    text-align: right;
}

/*header*/
#header>.section{
    height: 45px;
}

#header svg{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #1f0a0a8a;
    fill: white;
}

#header .logo{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-left: 12px;
    box-shadow: 2px 2px 10px #3838388a;
}

#header .tool{
    margin-right: 20px;
}

/*main*/
#main{
    width:100%;
    display: grid;
    height: calc(100% - 90px);
    grid-template-columns: 250px auto;
}

#catalog{
    text-align: left;
    background-color: #12052c;
    background-image: url("./../resource/image/background4.svg");
    background-size:70px;
    background-position:center;
    background-repeat: no-repeat;
    overflow-y: auto;
}

/*catalog stack*/
.stack{
    display: grid;
    grid-template-columns: auto;
    border-radius: 3px;
    margin: 3px;
    line-height: 45px;
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2339005e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23400066' cx='50' cy='100' r='50'/%3E%3Cg fill='%2347006f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e0077' cx='50' cy='200' r='50'/%3E%3Cg fill='%23550080' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235c0088' cx='50' cy='300' r='50'/%3E%3Cg fill='%23640091' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236c0099' cx='50' cy='400' r='50'/%3E%3Cg fill='%237400a2' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%237d00aa' cx='50' cy='500' r='50'/%3E%3Cg fill='%238500b3' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%238e00bb' cx='50' cy='600' r='50'/%3E%3Cg fill='%239700c4' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a000cc' cx='50' cy='700' r='50'/%3E%3Cg fill='%23aa00d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b400dd' cx='50' cy='800' r='50'/%3E%3Cg fill='%23be00e6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c800ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d200f7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    color: white;
}

.stack .title{
    line-height: 47px;
}

.stack .delete-stack{
    cursor: pointer;
    width: 20px !important;
    margin-left: 5px;
}

.stack>.row{
    display: grid;
    grid-template-columns:7% auto 22%;
}

.stack>.row-list{
    display: none;
    grid-template-columns:14% auto 20%;
    background-color: #d02779;
    border-radius: 3px;
    height: auto;
    margin-bottom: 2px;
}

.stack>.row-list>.row-list-icon{
    text-align: center;
}
.stack>.row-list .icon{
    width: 20px;
}

.stack>.row div{
    padding-left: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.stack .shrink-icon{
    text-align: center;
}

.stack .icon{
    vertical-align: middle;
    width: 12px;
}

.stack .delete-unit{
    margin-left: 5px;
}

/*search*/
#search-box{
    background: white;
    height: 38px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    position: relative;
}

#search{
    display: table-cell;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #eee;
    background: #eee;
    outline:none;
    height: 35px;
    padding-left: 40px;
    width: 73%;
}

#search-box .svg-icon{
    position: absolute;
    left: 20px;
    top: 14px;
}

/*catalog-list*/
#catalog-list{
    height: calc(100% - 52px);
    overflow-y: auto;
}

#detail{
    text-align: right;
    width: 100%;
    background-size: cover;
    overflow-y: auto;
}
#detail::-webkit-scrollbar-thumb{
    background: #36343a;
}
#content{
    display: grid;
    grid-template-columns: 5% auto 25%;
    width: 100%;
    height: 100%;
}

#line_content{
    text-align: right;
    background: #f3f2f3;
    border-left: 1px solid #dac7c7;
    border-right: 1px solid #dac7c7;
}

#file_content{
    text-align: left;
    background-color: #f9f9f9;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: text;
}

#var_content{
    text-align: left;
    background: #f3f2f3;
    border-left: 1px solid #dac7c7;
}

/*bottom*/
#bottom{
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to left bottom, #0d81ba, #0f4172);
}

.svg-icon{
    fill: #4691f6;
    width: 25px;
    height: 25px;
}

.card{
    color: white;
    width: 100%;
    height: 45px;
    display: table;
    border-bottom: 1px solid #0808088a;
}

.card>.card-content{
    width: 65%;
    padding: 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card>.card-operate{
    display: table-cell;
    text-align: right;
}



