html {height: 100%;}
body {margin:0; padding:0;height: 100%; font:12px AncientWar;overflow-y: hidden}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
.scroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
}
.scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ededed;
}
.scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: transparent;
}

button,a {
    -webkit-app-region: no-drag;
}

/*top*/
#top{
    display: table;
    width: 100%;
    height: 20px;
    background: #f5f5f5;
}

#top .button{
    margin-right: 15px;
}

#top .button>img{
    width: 14px;
    height: 14px;
}

#header{
    display: table;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to left bottom, #0d81ba, #0f4172);
    box-shadow: 8px 2px 8px #888888;
}

.section{
    display: table-cell;
    vertical-align: middle;
}

.section-left{
    text-align: left;
}

.section-right{
    text-align: right;
}

/*header*/
#header>.section{
    height: 45px;
}

#header svg{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #1f0a0a8a;
    fill: white;
}

#header .logo{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-left: 12px;
    box-shadow: 2px 2px 10px #3838388a;
}

#header .tool{
    margin-right: 20px;
}

/*main*/
#main{
    width:100%;
    display: grid;
    height: calc(100% - 90px);
    grid-template-columns: 250px auto;
}

#catalog{
    text-align: left;
    background-color: #1a0544;
    background-image: url("./../resource/image/background4.svg");
    background-size:70px;
    background-position:center;
    background-repeat: no-repeat;
    overflow-y: auto;
}

/*search*/
#search-box{
    background: white;
    height: 38px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    position: relative;
}

#search{
    display: table-cell;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid #eee;
    background: #eee;
    outline:none;
    height: 35px;
    padding-left: 40px;
    width: 73%;
}

#search-box .svg-icon{
    position: absolute;
    left: 20px;
    top: 14px;
}

/*catalog-list*/
#catalog-list{
    height: calc(100% - 52px);
    overflow-y: auto;
}

#detail{
    text-align: right;
    width: 100%;
    background-size: cover;
    overflow-y: auto;
}
#detail::-webkit-scrollbar-thumb{
    background: #36343a;
}
#content{
    display: grid;
    grid-template-columns: 5% auto 25%;
    width: 100%;
    height: 100%;
}

#line_content{
    text-align: right;
    background: #f3f2f3;
    border-left: 1px solid #dac7c7;
    border-right: 1px solid #dac7c7;
}

#file_content{
    text-align: left;
    background-color: #f9f9f9;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: text;
}

#var_content{
    text-align: left;
    background: #f3f2f3;
    border-left: 1px solid #dac7c7;
}

/*bottom*/
#bottom{
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to left bottom, #0d81ba, #0f4172);
}

.svg-icon{
    fill: #4691f6;
    width: 25px;
    height: 25px;
}

.card{
    color: white;
    width: 100%;
    height: 45px;
    display: table;
    border-bottom: 1px solid #0808088a;
}

.card>.card-content{
    width: 65%;
    padding: 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card>.card-operate{
    display: table-cell;
    text-align: right;
}



